/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body { 
  font-family: "Montserrat", sans-serif; 
  font-weight: 300;
  font-size: 16px;
  line-height: 2;
  color: #fff;
}


/* html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
} */
/* HTML5 display-role reset for older browsers
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}*/

main {
    height: 100vh;
    background: linear-gradient(to bottom, #dcc485 0%, #a76c16d6 50%,#7f410ce0 75%, #5a1616 100%), url(bg.jpg) center no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1.salute {
  margin-bottom: -5px;
}



ol, ul {
  list-style: none;
}


a {
  color: #ea7219;
  text-decoration: none;
}

a:hover {
  color: #ea7219;
  text-decoration: underline;
}

.container {
max-width: 1000px;
	padding: 6em;
	box-sizing: border-box;
	margin: 0 auto;
}



.card {
  transition: 0.3s;
}

.gs_reveal {
  opacity: 0;
  visibility: hidden;
  transition: transform 0s;
}

photo {
  float: right;
  margin: 0px 0px 15px 15px;
  border-radius: 150px;
}